.auth-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #1e1e2f;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 255, 200, 0.1);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
  }
 
  .auth-container h1 {
    text-align: center;
    color: #00ffc8;
    margin-bottom: 30px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-form input {
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #444;
    background-color: #2d2d3a;
    color: #ffffff;
    font-size: 14px;
  }
  
  .auth-form input:focus {
    border-color: #00ffc8;
    outline: none;
  }
  
  .auth-btn {
    background-color: #a34ae2;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn-login{
    background-color: #4ae291;
    color: rgb(13, 0, 0);
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn-login:hover{
    background-color:#07974a; ;
  }
  .auth-btn:hover {
    background-color: #9209e2;
  }
  
  .switch-auth {
    text-align: center;
    margin-top: 20px;
  }
  
  .switch-auth p {
    margin-bottom: 10px;
    color: #cccccc;
  }
  