.body-c {
  background: linear-gradient(to right, #000428, #004e92);
  font-family: 'Courier New', Courier, monospace;
  color: #ccffcc;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.body-c h2 {
  color: #a2f8a2;
  margin-left: 20px;
}

.body-c h3 {
  color: #ffffff;
  margin-left: 20px;
}

.send-button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: #2394d0;
}
.send-button:hover{
  background-color: #4f67ec;
}
.room-container .panel .chat-input {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: none;
  width: 70%;
}

.btn {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 180px;
  height: 60px;
}

.btn:hover {
  opacity: 0.9;
}

ul.participants {
  list-style: none;
  padding: 0 20px;
}

.li {
  background: #0394c4;
  color: #111;
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0;
}

/* Panels */
.room-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.panel {
  background: #001f1f;
  border: 2px solid #93ed93;
  box-shadow: 0 0 15px #a0efa0;
  border-radius: 10px;
  padding: 20px;
}

/* Participants section */
.participants {
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
}

.participants h3 {
  color: rgb(167, 245, 167);
  margin-bottom: 10px;
}

/* Chat box */
.chat {
  background-color: #ccffcc;
  color: #111;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
  overflow-y: auto;
}

/* Ready + Start Game Buttons */
.ready-btn {
  background: #00ff00;
  color: #000;
}

.start-btn {
  background: #2de4ad;
  color:#000;
}

.close-btn {
  background: #ff0000;
  color: white;
}

.copy-btn {
  background: #ff8800;
  height: auto;
  width: auto;
  padding: 5px;
  font-size: 16px;
}

.message-status {
  font-weight: bold;
  margin: 10px;
}
